<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="resources/images/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="resources/images/favicon-16x16.png"/>
        <link rel="mask-icon" href="resources/images/safari-pinned-tab.svg" color="#5bbad5"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="msapplication-config" content="resources/images/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/guidelines.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script src="resources/scripts/app.js"/>
        <style>
            .content-body {
                display: flex;
                justify-content: center;
                --pb-view-max-width: 1200px;
                --pb-code-highlight-white-space: pre-wrap;
            }

            #tocToggle {
                display: none;
            }
            
            @media (max-width: 768px) {
                body {
                    --pb-view-max-width: auto;
                    --pb-content-font-size: 13px;
                }
            }
        </style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <pb-autocomplete placeholder="Name of element or class" emit="ident"
                                source="api/ident/autocomplete" preload="" icon="icons:search"
                                substring="" data-target="toolbar-start"></pb-autocomplete>
                        </app-toolbar>
                    </app-header>
                    <main class="content-body">
                        <pb-view id="reference" src="document1" 
                            xpath="//(elementSpec|classSpec|macroSpec|attSpec|dataSpec)[@ident='${id}']" 
                            data-template="pages:parse-params" 
                            view="single" subscribe="transcription" fix-links="fixLinks">
                            <pb-param name="lng" value="en"/>
                            <pb-param name="mode" value="ref"/>
                        </pb-view>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>