.bibl-link {
    font-size: 16px;
    display: block;
    text-align: right;
}

.breadcrumb {
    margin: 5px;
    font-family: "Londrina Solid", Verdana, "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Londrina Solid", Verdana, "Helvetica", sans-serif;
}

.example {
    margin: 10px 10px 10px 0px;
    border: 1px solid green;
}

.attribute {
    margin-left: 10px;
}

dt {
    font-weight: bold;
}

.ident {
    font-weight: bold;
}

.title {
    text-align: right;
}

.tei-table {
    font-size: smaller;
    padding: 0px 10px;
}

a, a:visited {
    font-weight: bolder;
    color: #777777;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    margin-bottom: 0.2em;
}

.element-spec table {
    border-spacing: 0;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.element-spec td {
    padding: 5px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.module h4 {
    font-size: 1rem;
    display: inline;
}

.module ul, .module li {
    display: inline;
    padding: 0;
}

.module li::after {
    content: ' ';
}

.ident::before {
   content: '<';
}
.ident::after {
    content: '>';
 }

 .att-class li {
     list-style: none;
 }