.bibl-link {
    font-size: 16px;
    display: block;
    text-align: right;
}

.breadcrumb {
    font-family: "Londrina Solid", Verdana, "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.breadcrumb:before {
    content: ' > ';
    color: #607d8b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Londrina Solid", Verdana, "Helvetica", sans-serif;
}

.example {
    margin: 10px 10px 10px 0px;
    border: 1px solid green;
}

.attribute {
    margin-left: 10px;
}

dt {
    font-weight: bold;
}

.ident {
    font-weight: bold;
    margin-top: 1em;
}

.title {
    text-align: right;
    margin: 1em 0 0.2em 0;
}

.tei-table {
    font-size: smaller;
    padding: 0px 10px;
}

a, a:visited {
    font-weight: bolder;
    color: #1a7d79;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.element-spec table {
    width: 100%;
    border-spacing: 0;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.element-spec td {
    padding: 5px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    vertical-align: top;
}

.module h4 {
    font-size: 1rem;
    display: inline;
}

.module ul, .module li {
    display: inline;
    padding: 0;
}

.module li::after {
    content: ' ';
}

.bracket::before {
   content: '<';
}
.bracket::after {
    content: '>';
 }

 .att-class li {
     list-style: none;
 }

 .ident-nobracket {
    font-weight: bold;
}

.gloss::before {
    content: ' (';
}
.gloss::after {
    content: ') ';
}

@media (max-width: 768px) {
    pb-code-highlight {
        font-size: 10px;
    }
}